#{extends 'main.html' /}
#{set title:'Contacts List' /}

<div class="row">
    <div class="col">
        <div class="card mt-4">
            <div class="card-header text-center">
                <h4>Welcome to Contact Manager</h4>
            </div>
            <div class="card-body">
                <div class="col-12 text-center">
                    <h5>The best tool to manage your contacts</h5>
                    <p>Here you can create an account to manage your contacts and receive email alerts when 
                        a friend's birthday is approaching</p>
                </div>

                <div class="col-12 text-center">
                    <a href="/signup" class="btn btn-primary btn-lg">Signup</a>
                    <a href="/login" class="btn btn-success btn-lg">Login</a>
                </div>

            </div>
        </div>
    </div>
</div>
