<header>
  <div class="d-flex flex-column flex-md-row align-contacts-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Contact Manager</h5>
  <nav class="my-2 my-md-0 mr-md-3">
<!--    <a class="p-2 text-dark" href="#">View</a>-->
    <a class="btn btn-outline-info" href="/contacts">View Contacts</a>
    <a class="btn btn-outline-primary" href="/contacts/add">Add new</a>
  </nav>
  <a class="btn btn-link btn-sm" href="/user/settings">Settings</a>
  <a class="btn btn-link btn-sm" href="@{Secure.logout()}">Logout</a>
</div>
</header>